{
  "exclude": [
    ".*.ts$"
  ],
  "jsc": {
    "externalHelpers": true,
    "parser": {
      "syntax": "ecmascript"
    }
  },
  "module": {
    "type": "commonjs"
  },
  "env": {
    "coreJs": 3,
    "mode": "usage"
  }
}